/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "cornepat.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {    
    row-gpios
        = <&gpio1 0 GPIO_ACTIVE_HIGH>  // Row 0
        , <&gpio0 11 GPIO_ACTIVE_HIGH> // Row 1  
        , <&gpio1 4 GPIO_ACTIVE_HIGH>  // Row 2
        , <&gpio1 6 GPIO_ACTIVE_HIGH>  // Row 3
        ;
};
